<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-info" type="button" (click)="decrease()" [disabled]="isMin()">-</button>
  </span>
  <input type="text" class="form-control" readonly [value]="count">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="increase()" [disabled]="isMax()">+</button>
  </span>
</div>
